.amd{
    background-image: url("https://www.amd.com/system/files/2023-08/2144789-radeon-clouds-vert-banner-1920x600_0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.containeramd {
    position: relative;
    z-index: 1; /* Set a higher z-index for the container */
}

.amd-form {
    position: relative;
    z-index: 2; /* Ensure the form appears above the background */
}